@use"../utilities/variables";
@use"../utilities/extend";


/* Fotter pie de pagina */

.informacion {
    @extend %flex-center;
    background-color: variables.$color-primero;
    font-size: 20px;
    color: variables.$color-segundo;
    margin: 30px 0px;
    padding: 10px;
    ul {
        list-style: none;
        margin-top: 80px;
    }        
}