@use"../utilities/extend";
@use "../utilities/mixin";
@use "../utilities/variables";

.aos{
    @include mixin.flex-center(flex, center, start);
    padding: 20px;
}

.animaciones {
    height: 100vh;
    @extend %flex-center;

    .caja {
        position: relative;
        width: 280px;
        height: 19rem;
        background-image: linear-gradient(variables.$color-titulo,variables.$color-cuarto);
        @extend %flex-center;
        transition: transform 1s;
        transition-timing-function: cubic-bezier(.17,.67,.83,.67);
        
        .arriba {
            @include mixin.flex-center(flex, center, start);
            color: variables.$color-primero;
            font-weight: bold;
            font-family: cursive;
            font-size: 25px;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 10px;
            }

        .abajo {
            @include mixin.flex-center(flex, center, end);
            color: variables.$color-primero;
            font-family: cursive;
            font-weight: bold;
            font-size: 25px;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
        }


        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            img{
            transform: scale(1.2)
            }
        img{
            transition: transform 1s;
        }
        }
    }
}