$colores:(
    color-primero:black,
    color-segundo:white,
    color-titulo:rgba(0, 0, 255, 0.551),
    color-subtitu:rgba(0, 0, 255, 0.418),
    color-trans:rgba(0, 0, 0, 0.333),
    color-tercero:brown,
    color-cuarto:yellow,
    color-quinto:blueviolet,
    color-nav:rgb(241, 223, 223),
    color-hover:rgba(19, 9, 9, 0.225),
);