@mixin flex-center($display,$justify,$align){
    display: $display ;
    justify-content: $justify;
    align-items: $align ;
}

@mixin grid($display,$justify,$align){
    display: $display;
    justify-content: $justify;
    align-content: $align;
}