$color-primero:black;
$color-segundo:white;
$color-titulo:rgba(0, 0, 255, 0.551);
$color-subtitu:rgba(0, 0, 255, 0.418);
$color-trans:rgba(0, 0, 0, 0.331);
$color-tercero:brown;
$color-cuarto:yellow;
$color-quinto:blueviolet;
$color-nav:rgb(241, 223, 223);
$color-sexto:rgba(0, 0, 0, 0.455);
$color-body:rgba(128, 128, 128, 0.282);