@use"../utilities/variables";
@use"../utilities/mixin";

/* Slider de html bombas con bootstrap */
div{
    .carousel-inner{
    margin: 30px;
    padding: 20px;
    width: 40%;
    height: 40%;
    justify-self: center ;    
    }
}

.carousel-control-prev{
    color: variables.$color-primero;
    background-color:variables.$color-trans;
}

.carousel-control-next{
    background-color:variables.$color-trans; 
}