@use"sass:map";
@use "../utilities/maps" as mapa;

/* Imagen con superposicion del link html catalogos */

section {
  .grilla {
    .row {
      .uno {
        padding: 20px;
        position: relative;

        img {
          display: flex;
          width: 100%;
          justify-self: center;
          border: solid 2px;
          border-radius: 20px;
          box-shadow: 0 0 10px;
          margin: 10px;
        }

        &:hover {
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-color: map.get(mapa.$colores,color-hover);
          }
        }

        .link {
          position: absolute;
          color: map.get(mapa.$colores,color-tercero);
          bottom: 30px;
          left: calc(20%);
          z-index: 2;
          text-decoration: none;
          margin: 5px;

          &:hover {
            color: map.get(mapa.$colores,color-cuarto);
            font-size: 20px;            
          }
        }
      }

    }
  }
}